.title h1 {
  text-decoration: overline;
  padding: 32px;
  text-align: right;
  font-weight: 200;
  color: #30475e;
  font-size: 18px;
  font-family: "Montserrat";
}


.card-photographe {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
    &:hover{
      background: #F7F7F7;
    }
}

.card-photographe img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  &:hover{
      background: #142850;
      opacity: .9;
    }
}

.card-photographe h2 {
  font-size: 16px;
  font-weight: bold;
  color: #0f4c81;
  margin: 0;
}

.card-photographe h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #1b262c;
}

.card-photographe p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: medium;
}

.card-photographe .card-photographe-infos {
  padding: 16px;
}
